@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.banner {
    position: relative;
	width: 100%;
	height: 100vh;
	background: url(../img/01.jpg);
	background-size: cover;
    z-index: 1;
}

.logo {
    padding-top: 10px;
    text-align: center;
    color: #fff;
	text-decoration: none;
    font-weight: 400;
	font-size: 4em;
}
@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}
.logo p {
    margin-top: 40px;
    font-weight: 500;
    font-size: 1em;
}
.logo img {
    justify-content: center;
    width: 150px;
    height: 150px;
    background-color: aliceblue;
    border-radius: 50%;
    animation: zoominoutsinglefeatured 2s infinite ;
}
.logo h1 {
    display: block;
    margin-left: 35%;
    width: 30%;
    border-radius: 30px 30px 30px 30px;
    background: rgba(0, 0, 0, 0.589);
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    color: #fff;
    font-size: 1em;
}
